<div class="headabout">
</div><br>
<div class="container">

    <h5 class="con"><bdi>من نحن؟</bdi></h5>
    <div class="words">
        <p>
            <bdi>
                يعد معمل زاج لونيا من أكبر معامل  الاختبارات المعملية الطبية الخاصة في الشرق الأوسط بما يوفره من خدمات المختبرات التشخيصية، والاختبارات الباثولوجية والإكلينيكية للمجتمعات الطبية في مصر حيث تمتلك الشركة حافظة أعمال تضم أكثر من 1,200 تحليل إكلينيكي في مجالات علوم المناعة وأمراض الدم/التخثر والكيمياء السريرية والطفيليات والأحياء المجهرية/الأمراض المعدية، والسموم والخلايا والأمراض الجراحية والتدفق الخلوي والبيولوجيا الجزيئية وعلم الوراثة الخلوية. ففي قسم التحليل الإكلينيكي، يتم جمع العينات في أكثر من 120 فرع تغطي المحافظات في جميع المناطق بمصر حيث يتم تحليلها في 6 معامل مركزية في المحافظات الرئيسية بالجمهورية.

            </bdi>
        </p>
        <p>
            <bdi>
                أنشئت الشركة في عام 1979 كمعمل واحد تحت اشراف داترة متخصصون. ومع توجه المعمل  المتجدد نحو التوسع منذ أكثر من 30 عاما، أصبح المختبر الآن أكثر سلاسل المعامل الطبية الخاصة احتراما في مصر.

                واستطعنا، على مدى ثلاثون عاما من الخبرة والريادة في مجال الاختبارات الطبية، اكتساب الكثير من المعرفة عن احتياجاتك وتوقعاتك التي تعد السبب الرئيسي وراء سعينا الدائم للتحديث في جميع المجالات حتى أصبحنا أول معمل ينال اعتماد كلية علم الأمراض الأمريكية (CAP) في مصر عام 2010، وهو ما يعد المعيار الذهبي لاعتماد المعامل الطبية الأمر الذي يعني أنك ستضمن الحصول على نتائج معملية دقيقة، تطابق نفس النتيجة التي ستحصل عليها في أي معمل من المعامل الرائدة المعتمدة من كلية علم الأمراض الأمريكية (CAP) حول العالم.

                والآن نحن نمتلك أكبر شبكة في مصر تتكون من أكثر من 120 فرع على امتداد الجمهورية، ونهتم اهتماما كبيرًا باختيار أفضل العناصر البشرية للعمل في المختبر، سواء كان ذلك على المستوى الإداري أو التقني، حيث يعمل لدينا الآن أكثر من 1.500 موظف، بما في ذلك 200 أستاذ وطبيب من أكفأ الأساتذة والأطباء المتميزين في كل فرع كي يقدم لك الرعاية المتخصصة ويرد على استفساراتك.
            </bdi>
        </p>
        <h3><bdi> مهمتنا & رؤيتنا</bdi></h3>
        <h5><bdi>مهمتنا</bdi></h5>
        <p>

            <bdi>
                مهمتنا
                هي أن نكون المعمل الرائد في مجال التحاليل الطبية في الشرق الأوسط.
                ونسعى إلى تحقيق هذه الرؤية من خلال:
            </bdi>
        </p>
        <ul>
            <li><bdi>الالتزام الكامل من جانب قادة زاج لونيا وموظفيه برسالتنا وقيمنا.</bdi></li>
            <li><bdi>التطبيق المثالي للعمليات التجارية.</bdi></li>
            <li><bdi>الاستخدام الأمثل للتكنولوجيا الجديدة والمتطورة.</bdi></li>
        </ul>
        <h5><bdi>رؤيتنا</bdi></h5>
        <p>
            رسالتنا هي المساهمة في تحسين مستوى الصحة العامة والرفاهية للمجتمعات التي نقوم بخدمتها من خلال إمدادهم بالمعلومات التشخيصية المعملية عالية الجودة.
            ونسعى إلى تحقيق هذه الرسالة من خلال:
        </p>
        <ul>
            <li><bdi>تقديم خدمات معملية عالية الجودة باستخدام أحدث وسائل التكنولوجيا.</bdi></li>
            <li><bdi>وضع احتياجات ورغبات المريض في مقدمة أولوياتنا.</bdi></li>
            <li><bdi>التأكيد على معاني الاهتمام، المجاملة و الخبرة المهنية.</bdi></li>
            <li><bdi>الاجتهاد والسعي الجاد للوصول إلى دقة النتائج، الاستجابة لرغبات العملاء و سرعة تقديم الخدمة.</bdi></li>
            <li><bdi>اكتساب، تطبيق، ونشر المعرفة من خلال الاستخدام الأمثل للتكنولوجيا.</bdi></li>
            <li><bdi>إنشاء وتوسيع الشراكات المتبادلة التعاونية.</bdi></li>
        </ul>
    </div>
</div>
<hr class="separt">
<div class="copyright">copyright&copy; 2019 all right reserved to zaglonia</div>
