<div class="headwarn">
    <div>

    </div>

</div><br>
<!--end header-->
<div class="result">
    <div class="words">
        <h3><bdi>تحذيرات التحاليل</bdi></h3>
        <p><bdi>تحذيرات & خطوات للحصول على نتائج دقيقة موثوق فيها من فضلك التزم بالخطوات التالية و خطوات سحب العينة</bdi></p>
        <h5><bdi>احتياطات</bdi></h5>
        <h5><bdi>احتياطات و تعليمات اخذ العينة</bdi></h5>
        <p><bdi>لضمان سلامة عيناتك والحصول على نتائج دقيقة للتحاليل، يرجى الالتزام بالاحتياطات والتعليمات التالية الخاصة بتجميع العينات لهذه الأختبارات  :</bdi></p>
        <h3><bdi>مزرعة بول :</bdi></h3>
        <P><bdi> يشترط غسل اليد والأعضاء التناسلية بالماء والصابون وتطهير فتحة البول بالمطهر (الديتول) - ثم نغسل مرة أخرى بالماء لإزالة المطهر الزائد-  ثم نفرغ الجزء الأول من البول في دورة المياه ويجمع الباقي في الإناء المعقم الذي يوفره المعمل كما يفضل الامتناع عن أحد المضاد الحيوي لمدة 48ساعة لكي نعطي للميكروب فرصة للنمو كما يفضل أن تكون فترة حضانة البول داخل المثانة من 2ساعة إلى 6ساعات،    ( في حالة إرسال العينة من المنزل يجب أن تصل إلى المعمل في خلال ساعتين على الأكثر حتى لا يموت الميكروب أو يزداد العد البكيتري كما انه يكتب على ال<span> job order </span><bdi>احضرت العينة من المنزل</bdi></bdi></P>
        <h3><bdi>أخذ عينة بول 24 ساعة:</bdi></h3>
        <p><bdi>يقوم المريض بإفراغ المثانة كاملة في المرحاض ويقوم بتسجيل الوقت في ذلك الحين - ثم  - يقوم بتجميع أي بول بعد ذلك في زجاجة مناسبة نظيفة وجافة وكافية للتجميع ويستمر تجميع البول إلى نفس الوقت الذي تم فيه بداية التجميع من اليوم التالي ويحفظ البول في الثلاجة لحين إرساله إلى المعمل.</bdi></p>
        <h3><bdi>بول 3 أيام متتالية:</bdi></h3>
        <p><bdi> يعمل هذا التحليل للكشف عن ميكروب الدرن في 3عينات لأن الميكروب من الممكن أن يظهر في عينة ولا يظهر في عينة أخرى</bdi></p>
        <h3><bdi>دهنيات الدم:</bdi></h3>
        <p><bdi>يشترط الصيام من 12-14ساعة وذلك لاكتمال امتصاص الدهون بالدم وثبات نسبتها</bdi></p>
        <h3><bdi>سكر صائم:</bdi></h3>
        <p><bdi>يشترط الصيام من 6-8ساعات وذلك لاكتمال احتراق السكر وأخذ النسبة والمريض صائم .</bdi></p>
        <h3><bdi>سكر بعد الأكل بساعتين:</bdi></h3>
        <p><bdi>يرجى البدء في حساب ساعتين من بدء وجبتك وأخذ أي أدوية إن احتجت لذلك، مع الحرص على الانتهاء من تناول الطعام خلال 10 دقائق على الأكثر (وعدم تناول أي شيء لحين تقديم عينة الدم الخاصة بك). برجاء التفضل بالحضور إلى المعمل قبل 15 دقيقة من موعد التحليل.</bdi></p>
        <h3><bdi>بصاق 3 أيام متتالية:</bdi></h3>
        <p><bdi>يرجى تجميع أول بصاق في الصباح بعد الغرغرة بالماء عده مرات وقبل الأكل،ولن نقبل عينات اللعاب. ويجب تسليم العينات كل على حدة في نفس اليوم. قد ترغب في الاستعانة باستنشاق بخار الماء الساخن في الصباح لتسهيل عملية جمع العينة.</bdi></p>
        <h3><bdi>بول الحمل  :</bdi></h3>
        <p><bdi> يفضل أول بول في الصباح حيث أن  هورمون الحمل يكون أكثر تركيزاً- مع الإقلال من تناول السوائل مساء اليوم السابق للتحليل - حتى لا يخف تركيز الهرمون إذا كانت النتيجة سلبية نقترح إجراء اختبار الحمل عن طريق الدم لأن هذا الاختبار أكثر حساسية.</bdi></p>
        <h3><bdi>تحليل البراز للدم الخفي :</bdi></h3>
        <p><bdi> يمتنع المريض لمدة 48ساعة عن تناول جميع أنواع اللحوم الحمراء أو الكبدة أو الفجل أو أدوية الروماتيزم أو أدوية تحتوي على الاسبرين أو فيتامين ج أو الكورتيزون أو الحديد كما لا يسمح بأخذ ملينات</bdi></p>
        <h3><bdi>:PSAتحليل</bdi></h3>
        <p><bdi>يمتنع المريض 10أيام قبل إجراء التحليل عن إدخال منظار أو قسطرة أو فحص شرجي للبروستاتا لأن هذا سوف يؤثر على نتيجة التحليل إلا إذا كان هناك رأي آخر للطبيب المعالج فيدون ذلك على job order </bdi></p>
        <h3><bdi>"HIAA" و"VMA" و"Catecholamine" و"HydroxyProleneتحاليل</bdi></h3>
        <p><bdi>قم بتجميع عينة بول 24 ساعة (كما هو موضح أعلاه) في زجاجة خاصة يقدمها المعمل. ويرجى الامتناع خلال الـ48 ساعة السابقة للتحليل عن تناول أو ابتلاع أي شاي أو قهوة أو بسكويت أو فانيليا أو برقوق أو أفوكادو أو أناناس أو باذنجان أو طماطم أو موز.</bdi></p>
        <h3><bdi>أدوية الربو (الثيوفيلين):</bdi></h3>
        <p><bdi> يؤخذ الدواء لمدة 5أيام بانتظام وذلك بهدف الوصول بالدواء لمستوى ثابت بالدم ويشترط عدم القيء أو الإسهال لمدة 48ساعة قبل إجراء التحليل لأن ذلك سوف يؤثر على الجرعة وبالتالي مستوى الدواء بالدم ، تؤخذ عينة قبل أي جرعة لحساب نسبة الدواء في أقل مستوى (Trough ) ثم تؤخذ عينة أخرى بعد تناول الدواء بـ 2ساعة (تختلف من دواء إلى آخر) لحساب أعلى نسبة للدواء في الدم (Peak) وذلك حتى نتأكد أن الجرعة المؤثرة دون الوصول إلى التسمم الدوائي</bdi></p>
        <h3><bdi>أدوية مضادات الصرع:</bdi></h3>
        <p><bdi> يؤخذ الدواء لمدة 5أيام بانتظام وذلك بهدف الوصول بالدواء لمستوى ثابت بالدم ويشترط عدم القيء أو الإسهال لمدة 48ساعة قبل إجراء التحليل لأن ذلك سوف يؤثر على الجرعة وبالتالي مستوى الدواء بالدم ، تؤخذ عينة قبل أي جرعة لحساب نسبة الدواء في أقل مستوى (Trough ) ثم تؤخذ عينة أخرى بعد تناول الدواء بـ 2ساعة (تختلف من دواء إلى آخر) لحساب أعلى نسبة للدواء في الدم (Peak) وذلك حتى نتأكد أن الجرعة المؤثرة دون الوصول إلى التسمم الدوائي</bdi></p>
        <h3><bdi>مزرعة أو إفرازات غدة البروستاتا:</bdi></h3>
        <p><bdi>التحليل يكون بالحجز فقط. يجب على المريض الامتناع عن التبول لفترة من الوقت قبل الخضوع للتحليل، كما يُستحسَن عدم أخذ أي مضادات حيوية خلال الـ48 ساعة السابقة للتحليل.</bdi></p>
        <h3><bdi>يُرجى ملاحظة التالي:</bdi></h3>
        <p><bdi>في حالة التحاليل التي تتطلب صيام المريض، يمكن شرب الماء في أي وقت.</bdi></p>
        <p><bdi>ساعات العمل لدينا من 9ص حتى 11م طوال أيام الأسبوع.</bdi></p>
        <h3><bdi>تُطبَّق البنود التالية في حالات التحويل:</bdi></h3>
        <p><bdi>تُجرى التحاليل للشخص المذكور اسمه على طلب التحويل فقط، ويجب أن يتم التحويل من خلال الإجراءات المُتفق عليها مع جهة التحويل، وأن يحمل طلب التحويل التوقيع والختم المُصدَّقان، وأن يكون موجهًا إلى المعمل ويكون ساريً الصلاحية.</bdi></p>
        <p><bdi>إذا كان التحليل المطلوب غير وارد على قائمة التحاليل المتفق عليها، يجب على المريض الحصول على موافقة من مكان عمله على سعر التحليل وأن يدفع قيمته نقدًا.</bdi></p>
        <p><bdi>في حالة طلب إجراء التحاليل قبل الانتهاء من طلب التحويل، يُسدَّد مقابل التحاليل بالكامل، ويجب أن يُقدَّم أمر التحويل إما خلال أسبوع أو قبل نهاية الشهر (أيهما أقرب).</bdi></p>
    </div>
</div>
<hr class="separt">
<div class="copyright">copyright&copy; 2019 all right reserved to zaglonia</div>
