<div class="headlibrary">
</div><br>
<div class="container">
    <h3>Library of analysis</h3>
    <table class="table table-striped">
        <thead class="thead thead-dark bg-dark text-white">
            <tr>
                <th>Name of analysis</th>
                <th>Type of sample</th>
                <th>Duration of analysis</th>
                <th>Precautions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>CPK - Total</td>
                <td>Serum</td>
                <td>same day</td>
                <td>nothing</td>
            </tr>
            <tr>
                <td>Amylase</td>
                <td>Serum</td>
                <td>same day</td>
                <td>nothing</td>

            </tr>
            <tr>
                <td>Lipase</td>
                <td>Serum</td>
                <td>same day</td>
                <td>nothing</td>
            </tr>
            <tr>
                <td>Fasting Blood Glucose</td>
                <td>Serum</td>
                <td>same day</td>
                <td>يشترط الصيام من 6-8ساعات وذلك لاكتمال احتراق السكر وأخذ النسبة والمريض صائم</td>
            </tr>
            <tr>
                <td>Liver F.T</td>
                <td>Serum</td>
                <td>same day</td>
                <td>nothing</td>
            </tr>
            <tr>
                <td>Kidney F.T.	</td>
                <td>Serum</td>
                <td>same day</td>
                <td>nothing</td>
            </tr>
            <tr>
                <td>Blood Urea</td>
                <td>Serum</td>
                <td>same day</td>
                <td>nothing</td>
            </tr>
            <tr>
                <td>Alk.phosphatase</td>
                <td>Serum</td>
                <td>same day</td>
                <td>nothing</td>
            </tr>
            <tr>
                <td>BUN</td>
                <td>Serum</td>
                <td>same day</td>
                <td>nothing</td>
            </tr>
            <tr>
                <td>Calcium</td>
                <td>Serum</td>
                <td>same day</td>
                <td>nothing</td>
            </tr>
            <tr>
                <td>Chloride</td>
                <td>Serum</td>
                <td>same day</td>
                <td>nothing</td>
            </tr>
            <tr>
                <td>Creatinine, serum</td>
                <td>Serum</td>
                <td>same day</td>
                <td>nothing</td>
            </tr>
            <tr>
                <td>Gamma GT</td>
                <td>Serum</td>
                <td>same day</td>
                <td>nothing</td>
            </tr>
            <tr>
                <td>Na</td>
                <td>Serum</td>
                <td>one day </td>
                <td>nothing</td>
            </tr>
            <tr>
                <td>G6PD Qualitative</td>
                <td>Edta Blood</td>
                <td>same day</td>
                <td>nothing</td>
            </tr>
            <tr>
                <td>PSA-Total</td>
                <td>Serum</td>
                <td>same day</td>
                <td>nothing</td>
            </tr>
            <tr>
                <td>Testosterone in serum</td>
                <td>Serum</td>
                <td>same day</td>
                <td>nothing</td>
            </tr>
            <tr>
                <td>Activated Partial Thromboplastine Time APTT</td>
                <td>Citrate Plasma</td>
                <td>same day</td>
                <td>nothing</td>
            </tr>
            <tr>
                <td>Pleural Fluid Examination</td>
                <td>Pleural fluid</td>
                <td>one day</td>
                <td>nothing</td>
            </tr>
            <tr>
                <td>Synovial Fluid Examination for crystals</td>
                <td>SYNOVIAL FLUID</td>
                <td>same day</td>
                <td>nothing</td>
            </tr>
            <tr>
                <td>Stool Analysis</td>
                <td>STOOL</td>
                <td>same day</td>
                <td>nothing</td>
            </tr>
            <tr>
                <td>17-Alpha Hydroxyprogesterone in serum</td>
                <td>Serum</td>
                <td>2 days</td>
                <td>nothing</td>
            </tr>
            <tr>
                <td>Cortisol 24 Hrs in urine</td>
                <td>24 Hrs Ur</td>
                <td>same day</td>
                <td>nothing</td>
            </tr>
            <tr>
                <td>ACE in Serum</td>
                <td>Serum</td>
                <td>same day</td>
                <td>nothing</td>
            </tr>
            <tr>
                <td>ACTH am in plasma</td>
                <td>Serum</td>
                <td>same day</td>
                <td>nothing</td>
            </tr>
            <tr>
                <td>Adrenaline (Epinephrine) in blood</td>
                <td>2ml EDTA plasma ref</td>
                <td>3 days</td>
                <td>nothing</td>
            </tr>
            <tr>
                <td>Aldolase</td>
                <td>Serum</td>
                <td>same day</td>
                <td>nothing</td>
            </tr>
            <tr>
                <td>Amphetamine Screen</td>
                <td>Urine</td>
                <td>same day</td>
                <td>nothing</td>
            </tr>
            <tr>
                <td>ANTI GAD 65 Ab</td>
                <td>SERUM -Oth</td>
                <td>15 days	</td>
                <td>nothing</td>
            </tr>
            <tr>
                <td>HBc, total</td>
                <td>Serum</td>
                <td>same day</td>
                <td>nothing</td>
            </tr>
        </tbody>
    </table>
</div>
<hr class="separt">
<div class="copyright">copyright&copy; 2019 all right reserved to zaglonia</div>
