@model LoginVM
@{
}


<!--start nav bar-->
@*<div class="navbar">
    <div class="container">
        <div class="brand">
            <h2 id="home">zaglonia Lab </h2>
        </div>

        <ul class="links">
            <li class="active"><a href="#" data-value="home">Home</a></li>
            <li>  <a href="#" data-value="services">services</a></li>
            <li><a href="#" data-value="gallery">about-us</a></li>
            <li><a href="Test_lib.html">Test_lib</a></li>
            <li><a href="Test_Res.html">Test_Res</a></li>
            <li><a href="warning.html">warning</a></li>
        </ul>
        <div class="clearfix"></div>
    </div>
</div>*@
<!--end nav bar-->
<!--start header-->

<div class="header">
    <div class="overlay">
        <ul class="bxslider">
            <li>
                <h2>welcome to <span>zaglonia lab</span></h2>
            </li>
            <li>
                <h2>we are famous of <span>accuracy & good services</span></h2>

            </li>
            <li>
                <h2>you are in a good   <span>hand</span></h2>
            </li>
        </ul>

    </div>

</div>
<div id="services" class="services">

    <div class="container">
        <h2 class="special-heading"> our services</h2>
        <div class="item">
            <i class="far fa-user fa-4x"></i>
            <div class="info">
                <h3>people</h3>
                <ul>
                    <li>test result  </li>
                    <li>test library  </li>
                    <li>Analytical precautions</li>
                    <li>house visit (soon) </li>

                </ul>
            </div>
        </div>
        <div class="item">
            <i class="far fa-building fa-4x"></i>
            <div class="info">
                <h3>company</h3>
                <ul>
                    <li>Research programs </li>
                    <li>health insurance </li>
                    <li>another investment</li>

                </ul>
            </div>
        </div>
        <div class="item">
            <i class="fa fa-phone fa-3x"></i>
            <div class="info">
                <h3>contact us</h3>
                <ul>
                    <li>19777 </li>
                    <li>19555 </li>
                    <li class="ge0">or by sending a<a class="ge1" herf="#" data-value="gemail"> message</a></li>

                </ul>
            </div>
        </div>

        <div class="clearfix"></div>
    </div>

</div>
<div class="container">
    <hr class="separator">
</div>
<div id="gallery" class="about">

    <div class="container">

        <div class="box">
            <h2 class="special-heading">about us</h2>
            <p>zaglonia is the largest private medical laboratory testing company in the Middle East, providing diagnostic laboratory services, pathological and clinical tests for medical communities in Egypt. The company offers a portfolio of over than 1,200 clinical analysis in the areas of immunology, hematology/coagulation, clinical chemistry, parasitology, microbiology/infectious diseases, toxicology, cytology, surgical pathology, flowcytometry, molecular biology and cytogenetics. </p>
        </div>
        <div class="box">
            <div class="overlay"> labs </div>

            <img src="~/images/image2.jpg" alt="img3" width="225">
        </div>
        <div class="box">
            <div class="overlay"> of zaglonia </div>
            <img src="~/images/image1.jpg" alt="img1" width="225">
        </div>
    </div>
</div>
<div class="clearfix"></div>

<!--end sevrice-->
<!--start testimonilas-->
<div class="testim mb-2">
    <div class="t-overlay"></div>
    <div class="container">
        <h2 class="client">what our clients say ?</h2>
        <div class="slider">
            <div class="active">
                <q>hello this very good lab and your sevice is good as possible</q>
                <p>farida</p>
            </div>
            <div>
                <q>hello this very good lab and your sevice is good as possible</q>
                <p>sara</p>
            </div>
            <div>
                <q>hello this very good lab and your sevice is good as possible</q>
                <p>hanan</p>
            </div>
            <div>
                <q>hello this very good lab and your sevice is good as possible</q>
                <p>asmaa</p>
            </div>

        </div>
    </div>
</div>
<!--end testimonilas-->
<!--start form-->

@*<div class="cal">
    <div>

        <h4 id="gemail">contact us</h4>
        <br>
        <form>
            <input type="text" placeholder="Full Name..." required><br>
            <input type="text" placeholder="Address..." required><br>
            <input type="email" placeholder="Your Email : e.g : jhon@example.com..." required><br>
            <input type="text" placeholder="Your Phone..." required><br>
            <textarea placeholder="Message" required></textarea>
            <input type="submit" value="Send" required>
        </form>


    </div>
</div>
<br>*@
<!--end form-->
<!--start footer-->
<div class="footer">
    <div class="container">
        <div class="col">
            <h2>a word from zaglonia</h2>
            <p>
                The laboratory has professional and highly qualified people and we are pleased to serve you and We wish you a speedy recovery
            </p>
            <i class="fab fa-facebook fa-2x"></i>
            <i class="fab fa-google fa-2x"></i>
            <i class="fab fa-twitter fa-2x"></i>
            <div class="copyright">copyright&copy; 2019 all right reserved to zaglonia</div>
        </div>
        <div class="col ads">
            <h2>address</h2>
            <ul>
                <li>35 street elnahda </li>
                <li>47 crossroad madynat nasr</li>
                <li>zeefta</li>
                <li>banha</li>
            </ul>

        </div>
        <div class="col cat">
            <h2>catogeries</h2>
            <ul>
                <li>agency</li>
                <li>business</li>
                <li>multi purpose</li>
                <li>services</li>
            </ul>

        </div>



        <div class="clearfix"></div>
    </div>
</div>
<!--end footer-->
