@model IdentityUser
@{
}
<div class="container">
    <div class="row m-2">
        <div class="col-3"></div>
        <div class="col-6">
            <div class="text-center text-dark"><h3>Change your Password</h3></div>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <form asp-action="EditAdmin" method="post">
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="UserName"></label>
                    <input asp-for="UserName" class="form-control" disabled/>
                </div>
                <div class="form-group">
                    <label for="OldPassword">Your Old Password</label>
                    <input type="password" class="form-control" name="OldPassword" />
                </div>
                <div class="form-group">
                    <label for="OldPassword">Your New Password</label>
                    <input type="password" class="form-control" name="NewPassword" />
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-block btn-info">Save</button>
                </div>
            </form>
        </div>
        <div class="col-3">

        </div>
    </div>
</div>